:root{
    /* light mode colors */
    --font-family:"Poppins", serif;
    --light-mode-body-bg:whitesmoke;
    --light-mode-form-bg:#F1F3F4;
    --icon-color:#5F6368;
    --yellow-hover-color:#FEEFC3;
    /* dark mode colors */
    --dark-mode-body-bg:#202124;
    --dark-mode-form-bg:#525355;
    --dark-mode-icon-color:#9AA0A6;
    --dark-mode-brown-hover:#41331C;
    --dark-mode-search-icon:#EAEAEB;
    --dark-mode-tooltip-apps-bg:#1B1B1B;
    --dark-mode-menu-text:#E8EAED;
    --blue-icon-overlay-color:#8AB4F8;
}
*:focus{
    outline: none;
}
body{
    margin: 0;
    background-color: var(--dark-mode-body-bg);
}
.container{
    /* padding: 10px; */
    width: 100%;
}

/* overlay styles */
.overlay-div{
    display: none;
    padding: 8px;
    height: 70px;
    width: 100%;
    z-index: 100000;
    
}

.left-overlay{
    display: flex;
    align-items: center;
}

.overlay-icons{
    width: 40px;
    height: 40px;
    color: var(--blue-icon-overlay-color);
    font-size: 24px;
    padding: 0 5px;
    cursor: pointer;
}

#overlay-close-icon{
    color: var(--dark-mode-icon-color);
    font-size: 24px;
    margin-left: 35px;
    margin-right: 15px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

#overlay-close-icon:hover{
    color: var(--dark-mode-search-icon);
}

.overlay-text{
    font-size: 25px;
    color: var(--dark-mode-menu-text);
    margin: 0;
}
/* nav styles */
nav{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--dark-mode-form-bg);
    padding-bottom: 10px;
}
.hide-nav{
    display: none;
}

.show-overlay{
    display: flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0;
    height: 70px;
    width: 100%;
    z-index: 100000;
}
.left-container-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    left: 40px;
}

#menu-bars{
    font-size: 30px;
    padding-right: 16px;
    cursor: pointer;
    position: absolute;

}

.google-keep-icon{
    width: 44px;
    height: 44px;
    padding-right: 9px;
    cursor: pointer;
    margin-left: 50px;
}

.keep-text{
    font-size: 25px;
    color: rgba(255,255,255,.87);
    margin: 0;
    padding-right: 9px;
    cursor: pointer;
}

.keep-text:hover{
    text-decoration: underline;
}

.search-form{
    background-color: var(--dark-mode-form-bg);
    display: flex;
    align-items: center;
    width: 650px;
    max-width: 100%;
    padding: 12px 10px;
    border-radius: 10px;
    margin-left: 50px;  

}

#search-icon{
 font-size: 26px;
 padding-left: 5px;
}

::-webkit-search-cancel-button{
    display: none;
}

input[type="search"]{
    background: none;
    padding-left: 8px;
    border: none;
    color: var(--light-mode-form-bg);
    font-size: 18px;
}

.focus-form{
    background-color: var(--light-mode-form-bg);
    color: var(--icon-color);
}

::placeholder{
    color: var(--light-mode-body-bg);
    font-weight: 600;
    font-size: 18px;
}
span.nav-icons, i.nav-icons{
    font-size: 32px;
    color: var(--dark-mode-icon-color);
    padding: 0 15px;
    cursor: pointer;
   
}

.right-side-container-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inner-left{
    display: flex;
    align-items: center;
    position: relative;
    right: 150px;
}

.inner-right{
    display: flex;
    align-items: center;
    position: relative;
    right: 40px;
}

.user-avatar{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #7B1FA2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    color: var(--light-mode-form-bg);
    font-weight: 600;
    margin-left: 8px;
    border-top: 3px solid red;
    border-right: 3px solid blue;
    border-bottom: 3px solid green;
    border-left: 3px solid yellow;
    cursor: pointer;
}

#test-tooltip{
    display: none;
    position: absolute;
    top: 40px;
    left: auto;
    right: -25px;
    z-index: 1000;
    background-color: var(--dark-mode-body-bg);
    border: 1px solid var(--dark-mode-body-bg);
    border-radius: 6px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 1px 2px 0px, rgba(0, 0, 0, 0.3) 0px 2px 6px 2px;
}

#apps-tooltip{
    position: absolute;
    top: 50px;
    left: auto;
    z-index: 1000;
}
.setting-list{
    list-style-type: none;
    text-align: left;
    padding: 0;
}
li{
    color: var(--dark-mode-search-icon);
    line-height: 1.25rem;
    font-size: 0.9.5rem;
    text-align: left;
    font-weight: 400;
    padding: 5px 10px 5px 17px;
    letter-spacing: 0.0142857em;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
li:hover{
    background-color: var(--dark-mode-form-bg);
}
#apps-tooltip{
    /* display: none; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    align-items: center;
    position: absolute;
    right: 50px;
    top: 65px;
    border-radius: 20px;
    border: 6px solid var(--dark-mode-form-bg);
    height: 350px;
    background-color: var(--dark-mode-tooltip-apps-bg);
    overflow-y: scroll;
    padding: 25px;
    scroll-behavior: smooth;
    scrollbar-gutter: stable;
    z-index: 1000;
    visibility: hidden;
}



.tool{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    cursor: grab;
    padding: 8px;
    border-radius: 15px;
    transition: all 0.3s ease-in-out;
}

.tool:hover{
    background-color: var(--dark-mode-form-bg);
    translate: scale(1.2);
   
}

.tool-text{
    color: var(--dark-mode-search-icon);
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 0;
}
.tool-text .user-avatar{
width: 20px;
height: 20px;
}

.tool-img{
    width: 45px;
    height: 45px;
    object-fit: cover;
    object-position: center;
    display: flex;
    display: block;
    margin: 0 auto;
}

/* MAIN STYLES */
main{
    /* display: grid;
    grid-column: 1fr 3fr; */
    display: flex;
    justify-content:space-between;
    width: 100%;
    height: 100%;
    margin: 0;
    /* align-items: center; */
}
/* STYLES FOR THE LEFT SIDE MENU */
.left-menu-container{
    width:  260px;
    height: 100%;
    position: relative;
    top: 0px;
    left: 24px;
    
    
}

.menu-icons{
    font-size: 28px;
    padding: 0 12px;
}

.menu-text{
    color: var(--dark-mode-menu-text);
    font-size: 1.2rem;
    letter-spacing: .0178571429em;
    font-weight: 500;
    line-height: 1.25rem;
    margin: 0;
    text-align: left;
    margin-left: 14px;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    
}
.inner-menu{
    display: flex;
    align-items: center;
    padding: 12px 0;
    cursor: pointer;
    border: none;
    border-radius:  25px;
    transition: all 0.3s ease-in-out;
    margin: 15px 0;
}

.inner-menu:hover{
    background-color: var(--dark-mode-brown-hover);
    font-weight: bold;
}



.active, .inner-menu:hover{
    background-color: var(--dark-mode-brown-hover);
    font-weight: bold;
}
/* END OF SIDE STYLES */

/* ///////////////////////////////////////////////////////////////// */

/* ↓ BEGINING OF MAIN NOTES CONTAINER */
.main-notes-container{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    max-width: 900px;
    position: relative;
    left: 10%;
    top: 30px;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

/* styles for the input of the notes */
 .notes-input{
    height: auto;
    width: 600px;
    margin: 0 auto;
    background-color: rgb(32, 33, 36);
    box-shadow: 0 3px 5px rgba(0, 0, 0, .20);
    box-sizing: border-box;
    transition-duration: 0.218s;
    transition-property: background, border, opacity, box-shadow, transform;
    transition-timing-function: ease-in;
    border: 1px solid rgb(95, 99, 104);
    border-radius: 8px;
    /* overflow: hidden; */
} 

.title-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
}

.title{
    font-size: 20px;
    background: none;
    border: none;
    color: var(--dark-mode-menu-text);
}

.title::placeholder{
    color: var(--dark-mode-icon-color);
}

.title-icons{
    font-size: 24px;
    color: var(--dark-mode-icon-color);
    cursor: pointer;
    padding: 15px;
    transition: all 0.3s ease-in-out;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.pin-note-hide{
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
}

.pin-note-show{
opacity: 1;
visibility: visible;
}

.title-icons:hover{
    background-color: var(--dark-mode-brown-hover);
    
}

/* for the container which contains the notes textarea &  close btn*/
.note-text-container{
    display: none;
}

#text-notes{
    padding: 12px 10px;
    resize: none;
    width: 580px;
    max-width: 600px;
}

.bottom-icons-container{
    padding: 0 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottom-icons{
    width: 30px;
    height: 30px;
    padding: 8px;
    font-size: 18px;
    color: var(--dark-mode-icon-color);
    cursor: pointer;
}

.close-btn{
    background: none;
    border: none;
    color: var(--dark-mode-menu-text);
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}


/* styles for rendering the notes */
.notes-container{
    display: flex;
    flex-wrap: wrap;

}

.individual-note{
    flex-grow: 1;
    flex-basis: 200;
    background-color: #7B1FA2;
    margin: 8px;
    max-width:280px;
    background-color: rgb(32, 33, 36);
    border: 1px solid rgb(95, 99, 104);
    border-radius: 8px;
    transition-duration: 0.218s;
    height: fit-content;
    color: var(--dark-mode-menu-text);
    letter-spacing: .0142857143em;
   font-size: 1.1rem;
   font-weight: 400;
   line-height: 1.25rem;
   padding: 14px 16px;
   position: relative;
   margin-top: 25px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .20);
}

.check-btn{
    position: absolute;
    top: -7px;
    left: -7px;
    width: 20px;
    height: 20px;
}

.pin-tab{
    position: absolute;
    top: 7px;
    right: 12px;
    width: 20px;
    height: 20px;
}

#pin-tab{
    font-size: 22px;
    color: var(--dark-mode-icon-color);
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
}

#check-btn{
    font-size: 25px;
    color: var(--dark-mode-menu-text);
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
}


.note-edits{
    display: flex;
    align-items: center;
    justify-content: left;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
    
}

.note-edit-icon{
    color: var(--dark-mode-icon-color);
    cursor: pointer;
    margin: 0 18px 0 0;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    transition: all 0.3s ease-in-out;
}



.note-title, .note-text{
    margin: 0;
    padding: 12px 0;
}

.note-text{
    padding: 12px 0 25px 0;
}

/* HOVER STYLES FOR THE NOTES */

/* for showing twhe check btn */
.individual-note:hover #check-btn {
    opacity: 1;
    visibility: visible;
}

/* for showing the pin tab */
.individual-note:hover #pin-tab{
    opacity: 1;
    visibility: visible;
}

/* for showing the notes edit icons */
.individual-note:hover .note-edits{
    opacity: 1;
    visibility: visible;
}

.hide-input-icons{
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
}

.hide-icon{
    opacity: 1;
    visibility: visible;
}

.current-time{
    color: var(--dark-mode-menu-text);
    font-weight: 600;
}


/* END OF MAIN NOTES CONTAINER */